$nav-colors: (a:#ffbe0b,b:#fb5607,c:#ff006e,d:#8338ec,e:#111c91);
$regular-font:'Nunito', sans-serif;
$special-font:'Barriecito', cursive;
$regular-font-size:3rem;
$font-color:white;

* {margin:0;padding:0;box-sizing:border-box;}

html {font-size:62,5%;}

body {background-color:black;height:100%}

// ------------------- index -------------------------- 

.containerIndex {
    display:grid;
    grid-template-columns: 45% 55%;
    grid-template-areas:"menu main";

    .tituloIndex {
        grid-area: main;
        align-self:center;
        color:$font-color;
        font-size:19rem;
        font-family:$special-font;
        padding-right:30px;
    }

    nav {
        grid-area: menu;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        font-family:$regular-font;
        font-size:7rem;
        padding:10px;

        a {text-decoration:none;}

        a:hover {
            text-decoration:line-through; 
            transform:translateX(3px);
        }

        @each $nav,$color in $nav-colors {

            .#{$nav} {
                color:$color;
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .containerIndex {

        .tituloIndex {
            font-size:10rem;
            padding-right:20px;
        }

        nav {
            font-size:6rem;
        }
    }
}

@media only screen and (max-width:425px) {

    .containerIndex {
        display:grid;
        grid-template-rows:55% 45%;
        grid-template-areas: "menu" "main";
        align-items:space-between;
    
        .tituloIndex {
            grid-area:main;
            align-self:center;
            font-size:7rem;
            padding-top:60px;
            padding-left:50px;
            padding-right:10px;
        }
    
        nav {
            font-size:3rem;
    
            a:hover {text-decoration:line-through;}
        }
    }
}

@media only screen and (max-width:320px) {

    .containerIndex {
        display:grid;
        grid-template-rows:55% 45%;
        grid-template-areas: "menu" "main";
        align-items:space-between;
    
        .tituloIndex {
            grid-area:main;
            align-self: center;
            font-size: 5rem;
            padding-top:60px;
            padding-left:50px;
            padding-right:30px;
        }
    
        nav {
            font-size:4rem;
    
            a:hover {text-decoration:line-through;}
        }
    }
}

// --------------------- tour -------------------------
.menu__header-tour { 
    height:3rem;
    padding-right:10px;
    float:right;
        
   ul {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        list-style-type: none;

        li {

            a {
                font-size:2rem;
                text-decoration:none;
                color:#52158b;
                padding:8px;
            }   
                
            a:hover {font-size:2rem;}
                
            .b__tour {color:#a787c5}
            .c__music {color:#a787c5}
            .d__press {color:#a787c5}
            .e__contact {color:#a787c5}
        }
    }
}

.bg-image {
    position: relative;
    text-align: center;

    img {width: 100%;height: auto;}
}

.tour {
    margin-top:4rem;
    margin-right:1rem;
    padding-left:5rem;

    p {
        font-family:$regular-font;
        text-transform:uppercase;
        color:$font-color;
        font-size:2rem;
        letter-spacing:10px;
        text-align:right;

        b {
            color:#585858;
            font-family:$regular-font;
        }

        .tour__soldOut {display:none;}   
        .tour__tickets {display:none;}
    }
}

p:hover .tour__soldOut {
    display:inline-block;
    color:rgb(66, 1, 66);
}

p:hover .tour__tickets {
    display:inline-block;
    color:rgb(54, 63, 187);
}

@media only screen and (max-width:768px) {
    .menu__header-tour { 
        height:3rem;
        padding-right:5px;
        float:right;
            
        ul li {
            
            a {padding:3px;font-size:1.5rem;}   
            a:hover {font-size:2rem;}
        }
    }

    .tour {
        margin-top:2rem;
        margin-right:0.5rem;
        
        p {
            font-size:$regular-font-size/3;
            letter-spacing:5px;
            text-align:right;
        }
    }
}
 
@media only screen and (max-width:320px) {
    .menu__header-tour { 
        height:3rem;
        float:right;
            
        ul li a {font-size:1.25rem;}  
    }

    .bg-image img {width: 100%;height: auto;}
}
// --------------------- music --------------------------

.containerMusic {

    .lastReleaseTitle { 
        text-align: center;
        padding-top: 30px;

        p {
            color:$font-color;
            font-family:$special-font;
            font-size: 5rem;
            animation-name:showTitle;
            animation-duration:5s;

            a {color:#52158b}

            span {color:#a787c5}
        }
    }

    .lastReleaseAlbum {
        display:flex;
        flex-flow:row nowrap;
        justify-content:center;
        padding-top:40px;
        margin-bottom:8rem;

        img {
            height:450px;
            width:450px;
            padding:10px;
        }
    }

    @keyframes showTitle {from {opacity:0;} to {opacity:1};}

    .container-fluid {
    
        #recipeCarousel {
            margin-bottom:10rem;

            .carousel-inner .carousel-item .col-lg-5 iframe {
                padding-top:2rem;
                width:300px;
                height:380px;
            }
        }

        #galeria-responsive {display: none;}

        #galeria {
            display:flex;
            flex-flow:row wrap;

            .col-xl-4 {
                display:flex;
                flex-direction: column;
                padding:10px;
                
                img {width:100%;padding:10px;}
            }
        }
    }
}

@media only screen and (max-width:768px) {

    .containerMusic {

        .lastReleaseTitle { 
            padding-top: 15px;

            p {font-size: 3rem;}
        }

        .lastReleaseAlbum {
            padding-top:20px;
            padding-left: 60px;
            margin-bottom:100px;

            img {height:300px;width:300px;}
        }

        .container-fluid {
    
            #recipeCarousel {
                margin-bottom:6rem;
                margin-left:50px;
    
                .carousel-inner .carousel-item .col-lg-5 iframe {
                    padding-top:1rem;
                    width:250px;
                    height:300px;
                }
            }
        }
    }
}

@media only screen and (max-width:425px) {

    .containerMusic {

        .lastReleaseTitle { 
            padding-top: 30px;
            padding-right:20px;

            p {
                font-size:4rem;
                animation-name:showTitle;
                animation-duration:5s;
            }
        }

        .lastReleaseAlbum {
            display:flex;
            flex-flow:column;
            justify-content:center;
            padding-top:20px;
            margin-bottom:4rem;
    
            img {
                height:350px;
                width:350px;
                padding:10px;
            }
        }

        .container-fluid {
    
            #recipeCarousel {
                margin-bottom:6rem;
                width:100%;
    
                .carousel-inner .carousel-item {padding-left:25px;}

            }
        }
    }
}

@media only screen and (max-width:320px) {
    .containerMusic {
        
        .lastReleaseTitle { 

            p {
                font-size:3rem;
                animation-name:showTitle;
                animation-duration:5s;
            }
        }

        .lastReleaseAlbum {

            img {
                height:300px;
                width:300px;
                padding:10px;
            }
        }

        .container-fluid #recipeCarousel {

            .carousel-inner .carousel-item {
                padding-left:20px;

                .col-lg-5 iframe {
                    width:200px;
                    height:250px;
                }
            }
        }
    }
}

// --------------------- press ----------------------------

.press {
    margin-right:1rem;
    padding-left:12rem;

    p {
        font-family:$regular-font;
        text-transform: uppercase;
        color:$font-color;
        font-size:2rem;
        letter-spacing:5px;
        text-align:right;
    }

    .press__critica {
        text-transform:uppercase;
        color:#585858;
        padding-top:20px;
        padding-left:100px;
        text-align:left;
    }  
}

@media only screen and (max-width:768px) { 
    .press {
        margin-top:2rem;
        margin-right:0.5rem;
        padding-left:5rem;

        p {font-size:$regular-font-size/3;text-align:right;}
    
        .press__critica {padding-top:10px;}
    }
} 

@media only screen and (max-width:375px) {
    
    .press {

        padding-left:3rem;

        .press__critica {
            padding-top:10px;
            padding-left:3rem;
            text-align:left;
        }
    }
}

// --------------------- contact ---------------------------
.contact-page {
    display:flex;
    flex-direction: row;
    justify-content: space-around;

    .contact-pic {
        padding-right:40px;padding-bottom:40px;
    }

    .contact-form {
        color:#52158b;
        margin-top:170px;
        margin-left:250px;
        width:400px;

        .form-group {
            
            .form-control {color:rgb(36, 35, 35);}

            input {background-color:rgb(109, 108, 108);}

            textarea {
                background-color:rgb(109, 108, 108);
                margin-top:30px;
                height:150px;
            }

            #exampleFormControlInput1 {color:rgb(36, 35, 35);}

            #exampleFormControlSelect1 {
            background-color:rgb(109, 108, 108);
            color:rgb(36, 35, 35);

                option:focus  {font-size:1rem;}
            }
        }

        .form-check {
            margin-bottom:20px;
    
            .form-check-label {
                padding-right:25px;
            }
        }
    }
}

@media only screen and (max-width:1024px) {  
    .contact-page {

        .contact-pic {
            padding-top:50px;
            padding-right:20px;
            padding-bottom:40px;

            img {width:440px;height:550px;}
        }
    
        .container .contact-form {
            margin-top:140px;
            margin-left:250px;
            width:300px;
        }
    }
}

@media only screen and (max-width:768px) {  
    .contact-page {

        .contact-pic {
            padding-top:50px;
            padding-right:20px;
            padding-bottom:40px;

            img {width:420px;height:510px;}
        }
    
        .container .contact-form {
            margin-top:100px;
            margin-left:20px;
            width:250px;
        }
    }
}

@media only screen and (max-width:425px) {  
    .contact-page {
        display:flex;
        flex-direction:column;
        justify-content: space-around;

        .contact-pic {
            padding-top:50px;
            padding-right:20px;
            padding-bottom:40px;

            img {width:440px;height:550px;}
        }
    
        .container .contact-form {
            margin-top:70px;
            margin-left:30px;
            width:300px;
        }
    }
}

// ------------------- header & footer ---------------------

header {
    margin-bottom:1rem;
    padding-top:5px;

    nav {
        display:flex;
        justify-content:space-between;
        flex-direction:row;

        .menu__header { 
            font-size:2.5rem;
            padding-left:10px;
            height:3rem;

            li {
                
                a {text-decoration:none; color:#52158b;}
                
                a:hover {font-size:3rem;}
                
                .b__tour {color:#a787c5}
                .c__music {color:#a787c5}
                .d__press {color:#a787c5}
                .e__contact {color:#a787c5}
            }
        }
    }
}

@media only screen and (max-width:768px) {  
    header {

        nav {
            font-size:2rem;
            height:2.5rem;
            padding-right:10px;
                
            .menu__header {
                display:flex;
                flex-direction:row;
                justify-content:space-between;
                list-style-type: none;

                li {
                    padding:5px;
                
                    a {font-size:1.5rem;}
                }
            }
        }
    }
}

@media only screen and (max-width:320px) {  
    header nav .menu__header li a {font-size:1rem; padding:5px;}
}

footer {
    margin-top:8rem;
    padding-bottom:0.5rem;

    .footer {
        display:flex;
        justify-content:space-between;
        flex-direction:row;
        padding-top: 0.5rem;

        .container {
            margin-left:0.5rem;
            padding-left:0.5rem;
            
            form .input-group {
                font-family:$regular-font;
                width:500px;

                input {background-color: rgb(160, 160, 160);}
            }
        }

        .links__footer {
            padding-right:20px;
            display:flex;
            justify-content:space-between;
            flex-direction:row;

            li {
                list-style-type: none;
            
                a {
                text-decoration:none;

                    img {
                        height:60px;
                        width:60px;
                        padding:10px;
                    }
                }
            }    
        }
    }
}
